site_name: openapi-to-human-reference
site_description: Convert an OpenAPI spec into a clean, human-readable Markdown API reference.

repo_url: https://github.com/luisjguedes/openapi-to-human-reference
repo_name: luisjguedes/openapi-to-human-reference
edit_uri: edit/main/docs/


nav:
  - Home: index.md
  - Reference:
      - Generated API reference: reference/generated-api.md

theme:
  name: material
  language: en
  features:
    - navigation.instant
    - navigation.top
    - content.code.copy

plugins:
  - search
